<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Pi Radio</title>

    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description"
          content="Pi Radio">

    <meta name="author"
          content="Brown, Gillette, Jaouen, and Johnson">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <link href="{{ url_for('static', filename='styles.css') }}"
          rel="stylesheet" />

  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-left">
            <li>
              <a href="/">Home</a>
            </li>
          </ul>
        </nav>
      </header>

      <main role="main" id="main">
        <h1 class="jumbotron">Welcome to Pi Radio!</h1>

        <form action="/play" method="post">
          <select name="stream">
            {% if none_selected %}
              <option disabled selected value=""></option>
            {% endif %}
            {% for stream in streams %}
              <option value="{{ stream.id }}" {% if not none_selected and currently_playing.id == stream.id %}selected{% endif %}>{{ stream.name }}</option>
            {% endfor %}
          </select>

          <input class="button" name="submit" type="submit" value="Play" />
          <input class="button" name="delete" type="submit" value="Delete"
                 onclick="return confirm('Are you sure?')" />
        </form>

        <form action="/stop" method="post">
          <input class="button" name="stop" type="submit" value="Stop" />
        </form>

        <form action="/create" method="post">
          <label for="stream_name">Stream Name</label>
          <input name="stream_name" id="stream_name" type="text"
                 placeholder="Stream Name" required />
          <label for="stream_url">Stream URL</label>
          <input name="stream_url" id="stream_url" type="text"
                 placeholder="Stream URL" required />
          <input name="submit" type="submit" value="Add" />
        </form>
      </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
  </body>
</html>
